.auth__button_disabled {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

.auth__button_disabled:hover {
  opacity: 1;
  cursor: default;
}
